/* changes font stuff  */
@font-face {
font-family: 'Terminator Real NFI';
font-style: normal;
font-weight: normal;
src: local('Terminator Real NFI'), url('terminator real nfi.woff') format('woff');
}


@font-face {
font-family: 'Terminator Real NFI';
font-style: normal;
font-weight: normal;
src: local('Terminator Real NFI'), url('terminator real nfi.woff') format('woff');
}
/*  */


/* shared botkit ui styles */

* {
  box-sizing: border-box;
  font-family: 'Terminator Real NFI';
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 15px;
 
  font-family: 'Terminator Real NFI';
  background-color: black;
}

.wrapper {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  overflow-y: visible;
}
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.box {
  border: 2px solid #CCC;
  padding: 1rem calc(1rem - 2px);
  margin-bottom: 1rem;
}
.box:after {
  content: "";
  display: table;
  clear: both;
}
.box h1,
.box h2,
.box h3 {
  margin-top: 0;
}

footer {
  text-align: center;
  background-color: black;
}

/* .commandLine {
  background-color: black;
  color: white;
} */

.hero {
  text-align: center;
  padding: 2rem;
}
.hero h1 {
  font-size: 4rem;
  margin: 0;
}

a {
  color: #a795ef;
}

.copyurl {
  width: 100%;
  font-size: 1.25rem;
}

div.input label {
  font-weight: bold;
  font-size: smaller;
}

.addon {
  display: flex;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 5px;
  background: #F0F0F0;
}
.addon input,
.addon textarea {
  flex-grow: 1;
  border: 0;
  background: transparent;
}
.addon button {
  flex-grow: 0;
  background: transparent;
  border: 1px solid #999;
  border-radius: 6px;
  font-weight: bold;
}
.addon button.textarea {
  align-self: flex-start;
  padding: 0.5rem;
}
.addon button:hover {
  background: #FFF;
  color: #a795ef;
}

div.hr {
  border: 1px dashed #ccc;
  width: 10%;
  margin: 4rem auto;
  height: 1px;
}

a.button {
  border: 2px solid #a795ef;
  font-weight: bold;
  margin: 0;
  border-radius: 3px;
  display: inline-block;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  box-shadow: 5px 5px 5px rgba(155, 46, 46, 0.2);
  background-color: #FFF;
  transition: box-shadow 0.1s linear;
}
a.button:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

/* chat client */


#message_window {
  background: #FFFFFF;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
  border-style: ridge;
  /* border-left: 1px solid #CCC;
  border-right: 1px solid #CCC; */
  /*height: 500px;
  width: 320px;*/
  height: 100%;
  width: 100%;
  /*margin: 2rem auto;*/
  display: flex;
  flex-direction: column;
  font-family: 'Terminator Real NFI';
  
}

.disconnected .offline {
    font-family: 'Terminator Real NFI'
}
#message_window .disconnected {
  background: #FFFFCC;
  padding: 0.25rem;
}
#message_window.connected .disconnected {
  display: none;
}
#message_window .offline {
  display: none;
}
#message_window.offline .disconnected {
  display: none;
}
#message_window.offline .offline {
  background: #FF0000;
  color: #FFF;
  padding: 0.25rem;
  display: block;
}
#message_window .powered_by {
  flex-shrink: 0;
  text-align: center;
  border-bottom: 1px solid #CCC;
  font-size: 14px;
  padding: 0.25rem;
  color: #666;
}
#message_window .powered_by a {
  text-decoration: none;
  color: #666;
}
#message_window .powered_by img {
  position: relative;
  top: 2px;
}
#message_window section {
  flex-grow: 1;
  flex-direction: column-reverse;
  display: flex;
  overflow-y: scroll;
}
#message_window section div div {
  margin: 0.25rem;
  clear: both;
}
#message_window footer {
  border-top: 1px solid #CCC;

}
#message_window footer input[type=text] {
  flex-grow: 1;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: black;
  font-family: "Pixelated MS Sans Serif", Arial;
  -webkit-font-smoothing: none;
  color: white;
}





#message_window footer button {
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
  width: 50px;
  border: 0;
  cursor: pointer;
  color: black;
  box-sizing: border-box;
  border: none;

  border-radius: 0;
  min-width: 75px;
  min-height: 23px;
  padding: 0 12px;
  outline: none;
}

#message_window footer button:active {
  padding: 2px 11px 0 13px;
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}



#message_window form {
  display: flex;
  margin: 0;
 
}
#message_window #message_template {
  display: none;
}
#message_window .message{
  font-size: 14px;
  padding: 0.5rem;
  color: rgb(84, 228, 168);
  border-radius: 5px;
  width: auto;
  display: inline-block;
  max-width: 75%;
}




#message_window .file_attachment {
  background: black;
  color: rgb(94, 77, 255);
  border-radius: 5px;
  display: inline-block;
  max-width: 75%;
}
#message_window .file_attachment img {
  max-width: 100%;
  display: block;
}
#message_window .button_message {
  margin: 1rem 0;
  border-radius: 4px;
  border-color: orange;
  border-style: solid;
  color: orange;
  border-width: 1px;
  padding: 0.25rem 1rem;
  text-decoration: none;
  text-align: center;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  display: block;
}
#message_window .message p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
#message_window .message p:last-child {
  margin-bottom: 0;
}
#message_window .message.outgoing {
  float: right;
  background: black;
  color: white;
  position: relative;
}
/* operated here */

          /* the other one? */
/* .message {
  position: relative;
}
.message .message:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #f0f0f0;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
} */
/* .message.outgoing:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 9px solid transparent;
	border-left-color: #a795ef;
	border-right: 0;
	border-bottom: 0;
	margin-top: -4.5px;
  margin-right: -9px;
  color: green;
} */




/* operation ends */

#message_window #message_replies {
  text-align: center;
  overflow-x: auto;
  flex-shrink: 0;
  -webkit-overflow-scrolling: touch;
  /* Lets it scroll lazy */
}
#message_window #message_replies ul {
  list-style-type: none;
  margin: 0px auto;
  padding: 0;
}
#message_window #message_replies ul li {
  display: inline-block;
  margin: 0.5rem;
  margin-left: 0;
}
#message_window #message_replies a {
  text-decoration: none;
  display: block;
  border: 1px solid #5675fd;
  color: #5675fd;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  min-width: 75px;
  min-height: 23px;

  

  padding: 0.25rem 0.8rem;
  font-size: 14px;
  cursor: pointer;
}



#message_window #message_replies a:hover {
  background: #05ffac;
  border-color: #05ffac;
  color: #FFF;
}

/* typing indicator CSS based on code by Joseph Fusco -> https://codepen.io/fusco/pen/XbpaYv */
.typing-indicator {
  display: table;
  margin: 0 auto;
  position: relative;
}
.typing-indicator span {
  height: 5px;
  width: 5px;
  float: left;
  margin: 0 1px;
  background-color: black;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}
.typing-indicator span:nth-of-type(1) {
  animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
  animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
  animation: 1s blink infinite 0.9999s;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
/* special styles for homepage */
#home {
  position: relative;
  max-width: 650px;
  margin: auto;
}
#home:after {
  content: "";
  display: table;
  clear: both;
}

#homepage_bot {
  width: 400px;
  height: 450px;
  float: left;
  border: 5px solid #333;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
#homepage_bot iframe {
  border: 0;
  height: 100%;
  width: 100%;
}

#welcome {
  margin-left: 440px;
}

/*# sourceMappingURL=styles.css.map */
/* tag */
/* completely new stuff */

.navbar {
  font-family: "Pixelated MS Sans Serif", Arial;
  /* -webkit-font-smoothing: none; */
  font-size: 11px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  /* flex-direction: row; */
  height: 2rem;
  background: rgb(11,18,156);
  background: linear-gradient(90deg,#000080,#1084d0);
  height: 3rem;
  border-bottom: 1px solid black;
  background-color: blue;
}

.navbar_title {
  margin-left: 10px;
}


.portfolios {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
}
.portfolio {
  margin: 1rem;
  color: blue;
}

ul {
  background-color: black;
  /* opacity: .85; */
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.logoContainer {
  /* height: 2.7rem; */
  height: inherit;

  left: 0;
  top: 0;
}
.logo {
  height: 100%;
  left: 0;
  top: 0;
}

.logo:hover {
  cursor: pointer;
}

.terminal {
  background-color: black;
  overflow-y: visible; 
  /* opacity: .85; */
}

button {
  font-size: .6rem;
}


 p{
  color: rgb(47, 61, 255); 
  /* font-family: "Courier"; */
  font-size: 1rem;
  margin: 10px 0 0 10px;
  /* white-space: nowrap; */
  overflow: hidden;
  width: 30em;
 
}

@keyframes type{ 
  from { width: 0; } 
}  */


::-webkit-scrollbar {
  width: 16px;
}


::-webkit-scrollbar-track {
  background-color: rgb(66, 66, 66);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(53, 53, 53);
  border-left: 1px solid grey;
}



}  

.message {
  background-color: black;
  opacity: .85;
}
